<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">

<listeners>
<listener class-name="magentostore.TestComponents.Listeners"></listener>
</listeners>
  <test thread-count="2" name="Account Creation Test">
    <classes>
      <class name="magentostore.tests.AccountCreationTest"/>
     </classes>
  </test> <!-- Test -->

<test thread-count="2" name="login Logout Test">
    <classes>
      <class name="magentostore.tests.loginLogoutTest"/>
     </classes>
  </test> <!-- Test -->

<test thread-count="2" name="Place Order Test">
    <classes>
      <class name="magentostore.tests.PlaceOrderTest"/>
     </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
